.skill-container {
  width: calc(1920px * 0.85);
  /* height: 250px; */
}

.showIcon {
  animation: fadeInAnimation 1.5s alternate;
}

@media screen and (min-width: 250px) {
  .skill-container {
    width: 78vw;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.skill-icons {
  /* position: static; */
  margin: 5;
  width: 150;
  height: 150;
  border-radius: 20px;
  cursor: pointer;
}

.skill-icons::before {
  border-radius: 20px;
}

.skill-icons:hover {
  background-color: #1976d2;
  border-radius: 20px;
  transition: 0.5s;
  /* margin: 2.5px; */
  /* padding: 2.5px; */
  color: white;
}

.skill-background {
  z-index: -1;
  position: absolute;
  height: auto;
  opacity: 0.1;
  /* backdrop-filter: blur(100px); */
}
