.App {
  text-align: center;
}

body {
  background: rgba(226, 205, 150, 0.4);
}

.personal-profile {
  background: #fff;
  height: 400px;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(226, 205, 150, 0.4);
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px double pink;
  padding: 5px;
}

.link-item > a > img {
  width: 50px;
  height: 50px;
  /* border-radius: 5px; */
}

.link-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-evenly;
}

.link-container > a {
  text-decoration: none;
}
