@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

body {
  font-family: "Sarabun", monospace; /* Updated font-family */
  font-size: 1rem;
  background-color: #ffffff; /* Soft background color */
  color: #333; /* Primary text color */
  line-height: 1.5; /* Improved readability */
  margin: 0 auto; /* Center content horizontally */
  padding: 0; /* Add some padding on the sides */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Responsive Design Adjustments
@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1200px;
  }
} */

/* Utility */
* {
  user-select: none; /* Disables text selection */
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

body {
  background-color: #ffffff; /* Soft background color */
  color: #333; /* Primary text color */
  line-height: 1.5; /* Improved readability */
}

/* Soft box shadows and rounded corners for cards and buttons */
.card,
.button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.link-hover:hover {
  /* font-weight: bold; */
  color: #ff6f61; /* or any color you want for highlighting */
  cursor: pointer; /* changes the cursor to indicate it's clickable */
}

.link-hover-unclicable:hover {
  font-weight: bold;
  color: #121f22; /* or any color you want for highlighting */
}

.toolbox-hover:hover {
  font-weight: bold;
  color: grey;
  cursor: pointer;
}

.text-hover:hover {
  /* font-weight: bold; */
  color: #3b3434;
  cursor: pointer;
}

.myContainer {
  width: 1100px;
  background-color: #ffffff /* default color */;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
