@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");

body {
  font-family: "Sarabun", monospace; /* Updated font-family */
  font-size: 1rem;
  background-color: #ffffff; /* Soft background color */
  color: #333; /* Primary text color */
  line-height: 1.5; /* Improved readability */
  margin: 0 auto; /* Center content horizontally */
  padding: 0; /* Add some padding on the sides */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  scroll-behavior: smooth; /* Smooth scrolling */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sarabun", sans-serif; /* Apply 'Sarabun' to all headings */
}

h1 {
  font-size: 2rem; /* 40px */
}

h2 {
  font-size: 1.5rem; /* 32px */
}

h3 {
  font-size: 1.3rem;
  @apply text-3xl md:text-xl;
}

h4 {
  font-size: 1.2rem;
  @apply text-2xl md:text-lg;
}

h5 {
  font-size: 1rem;
  @apply text-xl md:text-base;
}

/* Paragraphs and Spans - Soft and gentle text */
p,
span {
  font-size: 0.9rem;
  @apply text-base md:text-base;
}

/* Responsive Design Adjustments */
@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1200px;
  }
}

/* Utility */
* {
  user-select: none; /* Disables text selection */
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

body {
  background-color: #ffffff; /* Soft background color */
  color: #333; /* Primary text color */
  line-height: 1.5; /* Improved readability */
}

/* Soft box shadows and rounded corners for cards and buttons */
.card,
.button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.link-hover:hover {
  font-weight: bold;
  color: #ff6f61; /* or any color you want for highlighting */
  cursor: pointer; /* changes the cursor to indicate it's clickable */
}

.link-hover-unclicable:hover {
  font-weight: bold;
  color: #121f22; /* or any color you want for highlighting */
}

.toolbox-hover:hover {
  font-weight: bold;
  color: grey;
  cursor: pointer;
}

.text-hover:hover {
  /* font-weight: bold; */
  color: #3b3434;
  cursor: pointer;
}

.myContainer {
  width: 1100px;
  background-color: #ffffff /* default color */;
}
